@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Base Styles */
body { 
    font-family: 'Inter', sans-serif; 
}

/* Utilities */
.hero-overlay {
    background: linear-gradient(to right, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.6) 100%);
}

html { 
    scroll-behavior: smooth; 
}
