@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Base Styles */
body {
    font-family: 'Inter', sans-serif;
}

/* Utilities */
.hero-overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* Más visibilidad al render, suficiente contraste */
}

html {
    scroll-behavior: smooth;
}